html,
body {
  margin: 0px;
  background: #2f4f30;
  color: aliceblue;
}

.titulo {
  text-align: center;
  background-color: black;
  color: aliceblue;
  padding: 20px;
  font-size: 2rem;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#jugador-cartas,
#cpu-cartas {
  height: 230px;
}

button:hover {
  cursor: pointer;
}
